body{
    background-color: rgb(219, 213, 189);
}
#barraNavegacao{
    background-color: rgb(0, 0, 0);
}
h1{
    font-family: Cambria, Cochin, Georgia;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
p{
    font-family: 'Courier New', Couier, monospace;
    font-size: 12;
    color: rgba(187, 180, 84, 0.247);
}
hr{
    /* linha sólida preta com 1 pixel de largura */
    border: 1px solid;
    border-color: rgb(51, 49, 32);
    width: 250px;
}
table{
    border: 2px solid;
}
tr, td{
    border: 1px solid;
    width: 200px;
    text-align: center;
}
#cabecalho{
    background-color: rgba(239, 243, 183, 0.452);
    font-weight: bolder;
}
img{
width: 30%;
height: 30%;
}
   img:hover {
    width: 45%;
    height: 45%;
   }
body:active{
    background-color: rgb(209, 198, 134);
}
 p{
    color: rgb(17, 7, 7);
}
 li{
   color: #706d5c;
 }
  

